stages:
  - build
  - test
  - integration

variables:
  NODE_ENV: development # Ensure both dependencies and devDependencies are installed

cache:
  paths:
    - web-app/client/node_modules/

# Build the React frontend
build-frontend:
  stage: build
  image: node:20.12.2
  tags:
    - comsc-ci # Specify the runner tag
  script:
    - echo "Building React frontend..."
    - cd web-app/client
    - npm ci
    - npm run build
  artifacts:
    paths:
      - web-app/client/dist
    expire_in: 1 week

# Run tests
test-frontend:
  stage: test
  image: node:20.12.2
  tags:
    - comsc-ci # Specify the runner tag
  script:
    - echo "Running tests for React frontend..."
    - cd web-app/client
    - npm ci # Clean install all dependencies, including devDependencies
    - npm run test -- --run --ci # Run Vitest tests in CI mode
  dependencies:
    - build-frontend # Ensure tests run after a successful build
