#root {
  width:100%;
  margin: 0 auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  /*overflow-x: hidden; !* Prevent overflow caused by child elements *!*/


}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.item{
  text-align: left; !important;
  padding-bottom: 5px;
  padding-top: 5px;
}
.item:hover{
  cursor: pointer;
}


/* From Uiverse.io by Juanes200122 */
.container {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(232, 232, 232);
  background-image: radial-gradient(rgba(12, 12, 12, 0.05) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -0px -0px;
  padding: 0px !important;
}


/* From Uiverse.io by doniaskima */
.inputContainer {
  position: relative;
}

.customInput {
  height:100%;
  width: 60%;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -1.5px 0 0 rgba(0, 0, 0, 0.65);
  outline: none;
  transition: border-color 0.3s ease;
}


.myCard{
  background-color: #fafafa;
  min-height: 70vh;
  border-width: 0px;
  border-radius: 0.75em;
  margin: 1em 2em 2em;
  max-height: fit-content;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.myBtn{
  border-radius: 8px;
  padding-block: inherit;
  background-color: #fafafa;
}

.redBtn{
  border-width: 0px;
  color: red;
}

.greenBtn {
  border-width: 0px;
  color: green;
}

.greyBtn{
  border-width: 0px;
  color: rgb(101, 120, 140);
}
#add{
  margin-left: 2px;
}

.greenBtn:hover{
  box-shadow: 0px 0px 3px 1px rgba(0, 128, 0, 0.8);
}

.redBtn:hover{
  box-shadow: 0px 0px 3px 1px rgba(255, 0, 0, 0.8);
}


.greyBtn:hover{
  box-shadow: 0px 0px 3px 1px rgba(101, 120, 140, 0.65);
}


#header{
  text-align: left;
}

#title{
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
  color: #d6d6d6;
}

.modal-content{
  background-color: #fafafa;
}

/*fixes styling on iphone*/
@supports (-webkit-touch-callout: none) {
  button, input, textarea {
    -webkit-tap-highlight-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

@supports (-webkit-touch-callout: none) {
  input {
    color: #000 !important; /* Always black text */
    -webkit-text-fill-color: rgba(0, 0, 0, 0.85);
  }
}

@supports (-webkit-touch-callout: none) {
  input {
    -webkit-appearance: none !important;
    border-radius: 5px !important; /* Keep your styling */
    padding-left: 0px !important;
  }
  input::placeholder {
    color: #757575 !important; /* Light gray for dark mode */
    -webkit-text-fill-color: #757575 !important;
  }
  input::-webkit-input-placeholder {
    color: #757575 !important; /* Light gray for dark mode */
    -webkit-text-fill-color: #757575 !important;
  }
}



